<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Party Creation - Contact</title>
  <script src="../js/jquery.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


  <link rel="stylesheet" href="../Stylesheet/style.css">


</head>
<body>
<div class="container">
  <section class="header">
    <a href="" class="logo">Party Creation</a>

    <nav class="navBar">
      <a href="home.html">home</a>
      <a href="about.html">about</a>
      <a href="portfolio.html">portfolio</a>
      <a href="pricing.html">pricing</a>
      <a href="contact.html">Plan Your Event With Us</a>
      <a href="register.html">logout</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars">

    </div>

  </section>

  <section class="contact">
    <h1 class="heading">contact us</h1>

    <form action="" method="post">
      <div class="flex">
        <div class="inputBox">
          <span>your name</span>
          <label>
            <input type="text" placeholder="enter your name" name="name" id="name" required>
          </label>
        </div>
        <div class="inputBox">
          <span>your email</span>
          <label>
            <input type="text" placeholder="enter your email" name="email" id="email" required>
          </label>
        </div>
        <div class="inputBox">
          <span>your address</span>
          <label>
            <input type="text" placeholder="enter your address" name="address" id="address" required>
          </label>
        </div>
        <div class="inputBox">
          <span>your phone number</span>
          <label>
            <input type="text" placeholder="enter your phone number" name="phone number" id="phone" required>
          </label>
        </div>
        <div class="inputBox">
          <span>your NIC number</span>
          <label>
            <input type="text" placeholder="enter your NIC number" name="NIC number" id="nicNumber" required>
          </label>
        </div>
        <div class="inputBox">
          <span>your message</span>
          <label>
            <textarea name="message" id="message" placeholder="enter your message" required cols="30" rows="10"></textarea>
          </label>
        </div>
      </div>
      <button type="button" class="formbold-btn btn" onclick="submitApplication()">Submit</button>
    </form>
  </section>

  <section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Quick links</h3>
      <a href=""><i class="fas fa-angle-right"></i>home</a>
      <a href=""><i class="fas fa-angle-right"></i>about</a>
      <a href=""><i class="fas fa-angle-right"></i>portfolio</a>
      <a href=""><i class="fas fa-angle-right"></i>pricing</a>
      <a href=""><i class="fas fa-angle-right"></i>contact</a>
    </div>

    <div class="box">
      <h3>Extra links</h3>
      <a href=""><i class="fas fa-angle-right"></i>Plan Party</a>
      <a href=""><i class="fas fa-angle-right"></i>Our Services</a>
      <a href=""><i class="fas fa-angle-right"></i>Ask Questions</a>
      <a href=""><i class="fas fa-angle-right"></i>Terms of Use</a>
      <a href=""><i class="fas fa-angle-right"></i>Privacy Police</a>
    </div>

    <div class="box">
      <h3>Contact Info</h3>
      <a href=""><i class="fas fa-phone"></i> +94745896547</a>
      <a href=""><i class="fas fa-phone"></i> +94775623568</a>
      <a href=""><i class="fas fa-envelope"></i> partycreation@gmail.com</a>
      <a href=""><i class="fas fa-envelope"></i> pabo@gmail.com</a>
      <a href=""><i class="fas fa-map"></i>kandy Road , Kurunegala</a>
    </div>

    <div class="box">
      <h3>Follow Us</h3>
      <a href=""><i class="fab fa-facebook"></i> Facebook</a>
      <a href=""><i class="fab fa-twitter"></i> Twitter</a>
      <a href=""><i class="fab fa-instagram"></i> Instagram</a>
      <a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
      <a href=""><i class="fab fa-github"></i>Github</a>
    </div>
  </div>

  <p class="credit"> created by <span>Paboda Sanduni</span> | all rights reserved! </p>
</section>
</div>

<script src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  let menu = document.querySelector('#menu-btn');
  let navBar = document.querySelector('.header .navBar');

  menu.onclick = () =>{
    menu.classList.toggle('fa-times');
    navBar.classList.toggle('active')
  }

  /*----------------------------------Save Contact----------------------------------*/
  function submitApplication() {
    const name = $("#name").val();
    const email = $("#email").val();
    const address = $("#address").val();
    const phone = $("#phone").val();
    const nicNumber = $("#nicNumber").val();
    const message = $("#message").val();

    console.log(name, email, address, phone, nicNumber, message);

    $.ajax({
      url: 'http://localhost:8080/api/v1/contact/save',
      method: 'POST',
      contentType: 'application/json',
      async: true,
      data: JSON.stringify({
        name: name,
        email: email,
        address: address,
        phone: phone,
        nicNumber: nicNumber,
        message: message
      }),
      success: function(response) {
        console.log(response);
        alert('Application submitted successfully!');
      },
      error: function(error) {
        console.log(error);
        alert('Failed to submit application!');
      }
    })

    //Send Email
    $.ajax({
      url: 'https://localhost:8080/api/v1/send-mail/send',
      method: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        toMail: email,
        name: name
      }),
      success: function(response) {
        console.log(response);
        alert('Confirmation email sent!');
      },
      error: function(error) {
        console.log(error);
        alert('Failed to send confirmation email!');
      }
    })
  }
</script>
</body>
</html>
