<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP in PartyCreation</title>
    <link rel="stylesheet" href="../Stylesheet/emailOTP.css">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
    <div class="form">
        <h3>OTP Using email</h3>
        <input type="email" placeholder="Enter your email address">
        <div class="otpVerifyEmail">
            <input type="text" id="otp_inp" placeholder="Enter the OTP sent your email">
            <button class="btn" id="otp_btn" type="submit">Submit</button>
        </div>
        <button class="btn">Send OTP</button>
    </div>

<script src="../js/emailOTP.js"></script>

</body>
</html>