<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Creation - Home</title>
    <script src="../js/jquery.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <link rel="stylesheet" href="../Stylesheet/style.css">


</head>
<body>
<!--header section-->
<div class="container">
    <section class="header">
        <a href="" class="logo">Party Creation</a>

        <nav class="navBar">
            <a href="home.html">home</a>
            <a href="about.html">about</a>
            <a href="portfolio.html">portfolio</a>
            <a href="pricing.html">pricing</a>
            <a href="register.html">logout</a>
            <a href="contact.html">Plan Your Event With Us</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars">

        </div>

    </section>

    <section class="home">
        <div class="swiper home-slider">
           <div class="swiper-wrapper">
               <div id="slide1" class="swiper-slide slide">
                   <div class="content">
                       <h3>Plan Your Party!</h3>
                       <p>Ready to host the ultimate event? We’ll help you craft the perfect celebration with personalized themes, custom décor, and tailored entertainment. Let’s turn your vision into an unforgettable experience!</p>
                       <a href="about.html" class="btn">discover more</a>
                   </div>
               </div>

               <div id="slide2" class="swiper-slide slide" >
                   <div class="content">
                       <h3>Plan Your Party!</h3>
                       <p>Ready to host the ultimate event? We’ll help you craft the perfect celebration with personalized themes, custom décor, and tailored entertainment. Let’s turn your vision into an unforgettable experience!</p>
                       <a href="about.html" class="btn">discover more</a>
                   </div>
               </div>

               <div id="slide3" class="swiper-slide slide" >
                   <div class="content">
                       <h3>Plan Your Party!</h3>
                       <p>Ready to host the ultimate event? We’ll help you craft the perfect celebration with personalized themes, custom décor, and tailored entertainment. Let’s turn your vision into an unforgettable experience!</p>
                       <a href="about.html" class="btn">discover more</a>
                   </div>
               </div>
           </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="services">
        <h1 class="heading"> Our Services </h1>
        <div class="swiper service-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <img src="../images/photography.jpg" alt="">
                    <div class="content">
                        <h3>photography</h3>
                        <p>"Capture the magic of your celebration with our expert photography services. From candid moments to beautifully composed shots, we create timeless memories that tell the unique story of your party. Let us turn your special day into a visual masterpiece, preserving every smile, every laugh, and every unforgettable moment."</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/weddingRegis.jpg" alt="">
                    <div class="content">
                        <h3>wedding registory</h3>
                        <p>"Create the perfect gift list for your dream wedding with our easy-to-use wedding registry service. Whether it's elegant decor, kitchen essentials, or experiences you’ll cherish forever, our platform lets you curate a collection of items you love. Share your registry with family and friends, and let them help make your happily ever after a reality."</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/guestList.jpg" alt="">
                    <div class="content">
                        <h3>guest list</h3>
                        <p>"Effortlessly manage your wedding guest list with our intuitive service. From sending invites to tracking RSVPs, we make it easy to stay organized. Customize seating arrangements, add personal notes, and ensure every guest feels special. Let us handle the details, so you can focus on celebrating your big day!"</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/weddingCake.jpg" alt="">
                    <div class="content">
                        <h3>wedding cake</h3>
                        <p>"Indulge in a sweet slice of perfection with our bespoke wedding cake service. Crafted to match your theme and taste, each cake is a delicious masterpiece, designed to delight both the eyes and the palate. From elegant multi-tiered creations to unique, personalized designs, let us add a touch of sweetness to your unforgettable day!"</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/ceromony.jpg" alt="">
                    <div class="content">
                        <h3>wedding ceromony</h3>
                        <p>"Create a magical wedding ceremony with our personalized service, ensuring every moment is flawless and meaningful. From vows to the final kiss, we handle the details, making your day as beautiful and unforgettable as your love story."</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/dining.jpg" alt="">
                    <div class="content">
                        <h3>fine dining</h3>
                        <p>"Indulge in an unforgettable fine dining experience, with exquisite dishes and perfect pairings, crafted to elevate your wedding celebration and delight every guest."</p>
                        <a href="about.html" class="btn">about us</a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!--footer section-->
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Quick links</h3>
                <a href=""><i class="fas fa-angle-right"></i>home</a>
                <a href=""><i class="fas fa-angle-right"></i>about</a>
                <a href=""><i class="fas fa-angle-right"></i>portfolio</a>
                <a href=""><i class="fas fa-angle-right"></i>pricing</a>
                <a href=""><i class="fas fa-angle-right"></i>contact</a>
            </div>

            <div class="box">
                <h3>Extra links</h3>
                <a href=""><i class="fas fa-angle-right"></i>Plan Party</a>
                <a href=""><i class="fas fa-angle-right"></i>Our Services</a>
                <a href=""><i class="fas fa-angle-right"></i>Ask Questions</a>
                <a href=""><i class="fas fa-angle-right"></i>Terms of Use</a>
                <a href=""><i class="fas fa-angle-right"></i>Privacy Police</a>
            </div>

            <div class="box">
                <h3>Contact Info</h3>
                <a href=""><i class="fas fa-phone"></i> +94745896547</a>
                <a href=""><i class="fas fa-phone"></i> +94775623568</a>
                <a href=""><i class="fas fa-envelope"></i> partycreation@gmail.com</a>
                <a href=""><i class="fas fa-envelope"></i> pabo@gmail.com</a>
                <a href=""><i class="fas fa-map"></i>kandy Road , Kurunegala</a>
            </div>

            <div class="box">
                <h3>Follow Us</h3>
                <a href=""><i class="fab fa-facebook"></i> Facebook</a>
                <a href=""><i class="fab fa-twitter"></i> Twitter</a>
                <a href=""><i class="fab fa-instagram"></i> Instagram</a>
                <a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href=""><i class="fab fa-github"></i>Github</a>
            </div>
        </div>

        <p class="credit"> created by <span>Paboda Sanduni</span> | all rights reserved! </p>
    </section>
</div>

<script src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    let menu = document.querySelector('#menu-btn');
    let navBar = document.querySelector('.header .navBar');

    menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navBar.classList.toggle('active')
    }

    window.onscroll = () =>{
        menu.classList.remove('fa-times');
        navBar.classList.remove('active')
    }

    var swiper = new Swiper(".home-slider", {
        loop:true,
        spaceBetween:20,
        grabCursor:true,
        pagination: {
            el: ".swiper-pagination",
            clickable:true,
        },
    });

    var swiper1 = new Swiper(".service-slider", {
        loop:true,
        spaceBetween:20,
        grabCursor:true,
        pagination: {
            el: ".swiper-pagination",
            clickable:true,
        },
        breakpoints: {
            450: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            1000: {
                slidesPerView: 3,
            },
        },
    });
</script>
</body>
</html>
