<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Party Creation - Portfolio</title>
  <script src="../js/jquery.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


  <link rel="stylesheet" href="../Stylesheet/style.css">


</head>
<body>
<div class="container">
  <section class="header">
    <a href="" class="logo">Party Creation</a>

    <nav class="navBar">
      <a href="home.html">home</a>
      <a href="about.html">about</a>
      <a href="portfolio.html">portfolio</a>
      <a href="pricing.html">pricing</a>
      <a href="contact.html">Plan Your Event With Us</a>
      <a href="register.html">logout</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars">

    </div>

  </section>

  <section class="portfolio">

    <h1 class="heading">our portfolio</h1>

    <div class="portfolio-container">
      <a href="" class="box">
        <div class="image">
          <img src="../images/port1.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>

      <a href="" class="box">
        <div class="image">
          <img src="../images/port2.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>

      <a href="" class="box">
        <div class="image">
          <img src="../images/home2.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>

      <a href="" class="box">
        <div class="image">
          <img src="../images/port3.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>

      <a href="" class="box">
        <div class="image">
          <img src="../images/home.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>

      <a href="" class="box">
        <div class="image">
          <img src="../images/ceromony.jpg" alt="">
        </div>
        <h3>wedding ceremony</h3>
      </a>
    </div>
  </section>

  <section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Quick links</h3>
      <a href=""><i class="fas fa-angle-right"></i>home</a>
      <a href=""><i class="fas fa-angle-right"></i>about</a>
      <a href=""><i class="fas fa-angle-right"></i>portfolio</a>
      <a href=""><i class="fas fa-angle-right"></i>pricing</a>
      <a href=""><i class="fas fa-angle-right"></i>contact</a>
    </div>

    <div class="box">
      <h3>Extra links</h3>
      <a href=""><i class="fas fa-angle-right"></i>Plan Party</a>
      <a href=""><i class="fas fa-angle-right"></i>Our Services</a>
      <a href=""><i class="fas fa-angle-right"></i>Ask Questions</a>
      <a href=""><i class="fas fa-angle-right"></i>Terms of Use</a>
      <a href=""><i class="fas fa-angle-right"></i>Privacy Police</a>
    </div>

    <div class="box">
      <h3>Contact Info</h3>
      <a href=""><i class="fas fa-phone"></i> +94745896547</a>
      <a href=""><i class="fas fa-phone"></i> +94775623568</a>
      <a href=""><i class="fas fa-envelope"></i> partycreation@gmail.com</a>
      <a href=""><i class="fas fa-envelope"></i> pabo@gmail.com</a>
      <a href=""><i class="fas fa-map"></i>kandy Road , Kurunegala</a>
    </div>

    <div class="box">
      <h3>Follow Us</h3>
      <a href=""><i class="fab fa-facebook"></i> Facebook</a>
      <a href=""><i class="fab fa-twitter"></i> Twitter</a>
      <a href=""><i class="fab fa-instagram"></i> Instagram</a>
      <a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
      <a href=""><i class="fab fa-github"></i>Github</a>
    </div>
  </div>

  <p class="credit"> created by <span>Paboda Sanduni</span> | all rights reserved! </p>
</section>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../js/jquery.js"></script>
<script>
  let menu = document.querySelector('#menu-btn');
  let navBar = document.querySelector('.header .navBar');

  menu.onclick = () =>{
    menu.classList.toggle('fa-times');
    navBar.classList.toggle('active')
  }
</script>

<script>
  lightGallery(document.querySelector('.portfolio .portfolio-container'));
</script>
</body>
</html>
