<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Creation - Pricing</title>
    <script src="../js/jquery.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <link rel="stylesheet" href="../Stylesheet/style.css">


</head>
<body>
<div class="container">
    <section class="header">
        <a href="" class="logo">Party Creation</a>

        <nav class="navBar">
            <a href="home.html">home</a>
            <a href="about.html">about</a>
            <a href="portfolio.html">portfolio</a>
            <a href="pricing.html">pricing</a>
            <a href="contact.html">contact</a>
            <a href="register.html">logout</a>
        </nav>

        <div id="menu-btn" class="fas fa-bars">

        </div>

    </section>

    <section class="pricing">
        <h1 class="heading">our pricing</h1>

        <div class="box-container">
            <div class="box">
                <h3>basic plan</h3>
                <div class="price">90,000LKR</div>
                <div class="list">
                    <p><i class="fas fa-check"></i> photography</p>
                    <p><i class="fas fa-check"></i> bride makeup</p>
                    <p><i class="fas fa-check"></i> wedding ceromony</p>
                    <p><i class="fas fa-check"></i> meals & drinks</p>
                    <p><i class="fas fa-check"></i> guest invitations</p>
                </div>
                <a href="contact.html" class="btn">choose plan</a>
            </div>

            <div class="box">
                <h3>premium plan</h3>
                <div class="price">234,000LKR</div>
                <div class="list">
                    <p><i class="fas fa-check"></i> photography</p>
                    <p><i class="fas fa-check"></i> bride makeup</p>
                    <p><i class="fas fa-check"></i> wedding ceromony</p>
                    <p><i class="fas fa-check"></i> meals & drinks</p>
                    <p><i class="fas fa-check"></i> guest invitations</p>
                </div>
                <a href="contact.html" class="btn">choose plan</a>
            </div>

            <div class="box">
                <h3>ultimate plan</h3>
                <div class="price">450,000LKR</div>
                <div class="list">
                    <p><i class="fas fa-check"></i> photography</p>
                    <p><i class="fas fa-check"></i> bride makeup</p>
                    <p><i class="fas fa-check"></i> wedding ceromony</p>
                    <p><i class="fas fa-check"></i> meals & drinks</p>
                    <p><i class="fas fa-check"></i> guest invitations</p>
                </div>
                <a href="contact.html" class="btn">choose plan</a>
            </div>


        </div>
    </section>

    <section class="reviews">
        <h1 class="heading">happy clients</h1>
        <div class="swiper reviews-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <img src="../images/cus1.jpg" alt="">
                    <h3>James Oliver</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/cus2.jpg" alt="">
                    <h3>Emma Grace</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/cus3.jpg" alt="">
                    <h3>Ethan Michael</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/cus4.jpg" alt="">
                    <h3>Sophia Rose</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/cus5.jpg" alt="">
                    <h3>Lucas Alexander</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <img src="../images/cus6.jpg" alt="">
                    <h3>Lily Anne</h3>
                    <p>"Super happy with my purchase! Fast shipping, great quality, and outstanding customer service. The whole process was smooth. Highly recommend this company for anyone looking for excellent products!"</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Quick links</h3>
            <a href=""><i class="fas fa-angle-right"></i>home</a>
            <a href=""><i class="fas fa-angle-right"></i>about</a>
            <a href=""><i class="fas fa-angle-right"></i>portfolio</a>
            <a href=""><i class="fas fa-angle-right"></i>pricing</a>
            <a href=""><i class="fas fa-angle-right"></i>contact</a>
        </div>

        <div class="box">
            <h3>Extra links</h3>
            <a href=""><i class="fas fa-angle-right"></i>Plan Party</a>
            <a href=""><i class="fas fa-angle-right"></i>Our Services</a>
            <a href=""><i class="fas fa-angle-right"></i>Ask Questions</a>
            <a href=""><i class="fas fa-angle-right"></i>Terms of Use</a>
            <a href=""><i class="fas fa-angle-right"></i>Privacy Police</a>
        </div>

        <div class="box">
            <h3>Contact Info</h3>
            <a href=""><i class="fas fa-phone"></i> +94745896547</a>
            <a href=""><i class="fas fa-phone"></i> +94775623568</a>
            <a href=""><i class="fas fa-envelope"></i> partycreation@gmail.com</a>
            <a href=""><i class="fas fa-envelope"></i> pabo@gmail.com</a>
            <a href=""><i class="fas fa-map"></i>kandy Road , Kurunegala</a>
        </div>

        <div class="box">
            <h3>Follow Us</h3>
            <a href=""><i class="fab fa-facebook"></i> Facebook</a>
            <a href=""><i class="fab fa-twitter"></i> Twitter</a>
            <a href=""><i class="fab fa-instagram"></i> Instagram</a>
            <a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
            <a href=""><i class="fab fa-github"></i>Github</a>
        </div>
    </div>

    <p class="credit"> created by <span>Paboda Sanduni</span> | all rights reserved! </p>
</section>
</div>

<script src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    let menu = document.querySelector('#menu-btn');
    let navBar = document.querySelector('.header .navBar');

    menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navBar.classList.toggle('active')
    }

    var swiper1 = new Swiper(".reviews-slider", {
        loop:true,
        spaceBetween:20,
        grabCursor:true,
        pagination: {
            el: ".swiper-pagination",
            clickable:true,
        },
        breakpoints: {
            450: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            1000: {
                slidesPerView: 3,
            },
        },
    });
</script>
</body>
</html>
